---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import VideoUploadForm from "@layouts/components/VideoUploadForm.vue";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("video", "upload");
const { contact_form_action } = config.params;
const { title, description, info } = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="font-normal text-center" set:html={markdownify(title)} />
      <VideoUploadForm client:load />
    </div>
  </section>
</Base>
